// styles/variables/_color.scss

// color
$color-primary:           #001944;
$color-secondary:         #d3368a;
$color-tertiary:          #4768fd;
$color-white:             #fff;
$color-black:             #000;

$color-navigation-one:    #d3368a;
$color-navigation-two:    #477fb2;
$color-navigation-three:  #d3368a;
$color-navigation-four:   #e98050;
$color-navigation-five:   #6637b3;
$color-navigation-six:    #53b584;
$color-navigation-seven:  #0b6ae6;

$color-grey:              #b8b8bf;
$color-grey-dark:         #6f6f8c;
$color-grey-light:        #dedee3;
$color-grey-lighter:      #f7f7fa;

$color-status-error:      #e01937;
$color-status-success:    #008a27;
