// styles/variables/_font-weight.scss

// font-weight
// https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight
$font-weight-light:       300;
$font-weight-normal:      400;
$font-weight-medium:      500;
$font-weight-semi-bold:   600;
$font-weight-bold:        700;
$font-weight-heavy:       900;
