// styles/variables/_screen-size.scss

// screen-size
$screen-larger:           '(min-width: 1600px)';
$screen-large:            '(min-width: 1200px)';
$screen-medium:           '(min-width: 768px)';
