// styles/globals.scss

// dependencies
// base
// __next


// dependencies
@import 'variables/index';


// base
html,
body {
  margin: 0;
  padding: 0;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $color-primary;
  font-family: $font-family-sans;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img,
svg {
  border: 0;
  display: block;
  margin: 0;
  padding: 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: $font-weight-semi-bold;
}


// __next
#__next {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

#__next > main {
  display: block;
}
